.gallery {
    .col {
        width: 400px;

    }
}
.gallery-block{
    margin-top: 100px;
}
li button span{
    color: $golden-color;
}
.f-button svg{
    color: $golden-color;
}
.gallery-card {
    border: 1px solid $golden-color;
    width: 100%;
    height: 100%;
    a {
        width: inherit;
        height: inherit;
    }

    .gallery-img {
        border-radius: 1%;
        object-fit: cover;
        object-position: top;
        width: 100%;
        height: 100%;
    }
}
    /* Этот медиа-запрос применяется к устройствам с шириной экрана до 768px */
    @media screen and (max-width: 768px) {
        .gallery {
            .gallery-card {
                height: 100%;
            }
            .col{
                width: 80%;
            }
        }
        .gallery-card {
            max-height: initial;
            height: initial;
        }
    }

    /* Этот медиа-запрос применяется к устройствам с шириной экрана от 576px до 768px */
    @media screen and (min-width: 576px) and (max-width: 768px) {
        .gallery-card {
            max-height: initial;
            height: initial;
        }
    }

    /* Этот медиа-запрос применяется к устройствам с шириной экрана до 576px */
    @media screen and (max-width: 576px) {
        .gallery-card {
            max-height: 70vw;
            height: initial;
        }
    }


    @media only screen and (max-width: 991px) and (orientation: landscape) {
        .gallery-card {
            height: 50vw;
            max-height: initial;
        }
    }

