.menu-card {
    background: #000;
    box-shadow: 0px 1px 2px rgba(242, 237, 197, 0.7),
    0px 1px 4px rgba(242, 237, 197, 0.7),
    0px 1px 8px rgba(242, 237, 197, 0.7),
    0px 1px 16px rgba(242, 237, 197, 0.7);

    animation: pulse-animation 1s ease-out infinite;
    transition: all 0.3s ease-out;


}
@keyframes pulse-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.005);
    }
    100% {
        transform: scale(1);
    }
}
.menu-card:hover {
    animation: none;
    img{

        opacity: 0.5;
    }
    .overlay{
        opacity: 1;
    }
}
.menu-text{
    a{
        color: $golden-color;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    a:hover, a:focus {
        text-decoration: none;
        outline: none;
        color: #fff;
    }
    p{
        text-indent: 30px; /* установите значение отступа в пикселях */
    }
}
#menu-src{

}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* установите начальную прозрачность элемента надписи */
    transition: opacity 0.5s ease; /* добавьте плавный эффект при наведении на картинку */
    p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 26px;
        font-weight: 500;
        color: #fff;
        text-align: center;
    }
}
.basket{
    img {
        position: fixed;
        top: 14px;
        right: 14px;
        z-index: 10;
    }
    #cart-count {
        border-radius: 50%;
        width: 1.4rem;
        text-align: center;
        background: $golden-color;
        color: #000 !important;
        font-weight: bold;
        border: 2px solid #AA8012;
        position: fixed;
        top: 35px;
        font-size: 12px;
        right: 10px;
        z-index: 11;
    }
}
.arrow {
    img {
        position: fixed;
        top: 14px;
        left: 14px;
        z-index: 10;
    }
}
.arrow:hover {
    border: none;
}
.delete-btn:hover{
    border-color: #D21F1F;
}
.btn-update {
    border: none;
    background: none;
}
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');
.menu-items{
      .item{
          font-family: 'Merriweather', serif;
          margin-bottom: 30px;

          .item-button{
              position: absolute;
              right:0;
              bottom:0;
              margin: 10px;
              font-size: 20px;
              border-color: $golden-color;
              color: $golden-color;
          }
          .item-button:hover {
              background: $golden-color;
              color: #000;
          }
          .img-item {
              position: relative;
              display: inline-block;
              min-width: 100%;
              overflow: hidden; /* чтобы затемнение не выходило за пределы родительского элемента */
              border-radius: 5px;
              a{
                  display: block;
              }
              img {
                  display: block; /* чтобы избежать нежелательных пробелов между картинкой и ссылкой */
                  width: 100%; /* чтобы изображение занимало всю ширину родительского элемента */
                  height: 100%;
                  filter: brightness(70%); /* добавление затемнения */
              }
              img:hover{
                  filter: brightness(90%); /* добавление затемнения */
              }
              .price{
                  position: absolute;
                  top: 0;
                  right: 0;
                  padding: 10px;
                  color: $golden-color;
                  font-weight: 500 !important;
                  h2{
                      font-size: 42px;
                  }
              }
              .chapter-description {
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  padding: 10px;
                  color: #F2E8A0;
                  font-weight: 500 !important;
                  font-size: 45px;
                  font-family: 'Merriweather', serif;
                  //font-family: Georgia, serif;
              }
              .item-description{
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  padding: 10px;
                  color: #fff;
                  font-weight: bold;
                  .item-gramm {
                      color: $golden-color;
                      font-family: Georgia, serif;
                  }
                  .item-name {
                      padding-bottom: 30px;
                      font-size: 20px;
                  }
                  .item-staff {
                      bottom: 30px;
                  }

              }
          }
      }
  }
@media only screen and (min-width: 992px) {
    .menu-items {
        .item {
            max-height: 500px;
            margin-bottom: 30px;

            .img-item {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 100%;
                height: 100%;
                overflow: hidden; /* чтобы затемнение не выходило за пределы родительского элемента */
                border-radius: 5px;

                img {
                    display: block; /* чтобы избежать нежелательных пробелов между картинкой и ссылкой */
                    width: 100%; /* чтобы изображение занимало всю ширину родительского элемента */
                    height: 100%;
                    filter: brightness(70%); /* добавление затемнения */
                }
            }
        }
    }
}
.categories{
    .item {
        max-height: 300px;
        margin-bottom: 30px;
        .img-item {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 100%;
            height: 100%;
            overflow: hidden; /* чтобы затемнение не выходило за пределы родительского элемента */
            border-radius: 5px;
            img {
                display: block; /* чтобы избежать нежелательных пробелов между картинкой и ссылкой */
                width: 100%; /* чтобы изображение занимало всю ширину родительского элемента */
                height: 100%;
                filter: brightness(70%); /* добавление затемнения */
            }
        }
    }
}

.toast-success {
    right: 50px;
    top: 20px !important;
    padding-top: 20px !important;
    height: 70px;
    background-color: #00AF00;
    color: white;
}



